<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="cdee8804-8a83-4b86-b919-5f9263d3d3b4"
    Publisher="CN=jskal"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="cdee8804-8a83-4b86-b919-5f9263d3d3b4" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>BrokeredClient</DisplayName>
    <PublisherDisplayName>jskal</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate"/>
  </Resources>
  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="BrokeredClient.App">
      <uap:VisualElements
        DisplayName="BrokeredClient"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="BrokeredClient"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>clrhost.dll</Path>
        <ActivatableClass ActivatableClassId="BrokeredServer.HostProcessManager" ThreadingModel="both">
          <ActivatableClassAttribute Name="DesktopApplicationPath" Type="string" Value="C:\Users\jskal\Documents\Visual Studio 2015\Projects\DriverBackup\\Debug\" />
        </ActivatableClass>
        <ActivatableClass ActivatableClassId="BrokeredServer.BrokeredComponent1" ThreadingModel="both">
          <ActivatableClassAttribute Name="DesktopApplicationPath" Type="string" Value="C:\Users\jskal\Documents\Visual Studio 2015\Projects\DriverBackup\\Debug\" />
        </ActivatableClass>
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>