<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="darkTheme" value="false"/>
    <add key="showMicrosoft" value="false"/>
    <add key="backupPeriodically" value="false"/>
    <!-- Local/Cloud -->
    <add key="backupLocation" value="Local"/>
  </appSettings>
</configuration>
